<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- After editing these settings please restart the service/application. -->
    
    <!-- URL to the WebApi server. -->
    <add key="ApiUrl" value="https://arktin.azurewebsites.net/" />
    <!--<add key="ApiUrl" value="http://arktin.ml/" />-->
    <!--<add key="ApiUrl" value="http://localhost:14100/" />-->
    <!--http://localhost:14100-->

    <add key="PortableMode" value="false" />

    <add key="AppKillIntervalInSeconds" value="30" />
    <add key="HardwareUpdateIntervalInSeconds" value="200" />
    <add key="DisksUpdateIntervalInSeconds" value="30" />
    <add key="UserChangesUpdaterIntervalInSeconds" value="530" />
    <add key="SiteBlockerUpdaterIntervalInSeconds" value="60" />
    <add key="SyncIntervalInSeconds" value="60" />
    <add key="LogTimeIntervalInSeconds" value="10" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>