<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AzureArktin" connectionString="Server=arktindbserver.database.windows.net;Database=ArktinAccounts;User ID=Arcin;Password=[REDACTED];Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="ArktinMonitorDataAccess" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ArktinMonitor.Models.ArktinMonitorDataAccess;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="AzureArktin" connectionString="data source=arktindbserver.database.windows.net;Initial Catalog=Arktin_db;Persist Security Info=True;User ID=Arcin;Password=[REDACTED]" providerName="System.Data.EntityClient"/>-->
    <add name="DefaultConnection" connectionString="Server=arktindbserver.database.windows.net;Database=Arktin_db;User ID=Arcin;Password=[REDACTED];Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="freeaspconnection" connectionString="Server=142.4.219.154\SQLEXP2016;Database=marcinxe_Accounts;uid=marcinxe;pwd=zqx25109;" providerName="System.Data.SqlClient" />  
    <add name="gearhost" connectionString="Server=mssql6.gear.host;Database=arktin;uid=arktin;pwd=Vy00h6!3_9XN;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>